@model IEnumerable<eLibrary.Models.Editora>
@using Microsoft.AspNet.Identity
@using eLibrary.Models

@{
    ViewBag.Title = "Editoras";
}

@{
    HttpContext.Current.User.Identity.GetUserId();
    string userId = User.Identity.GetUserId();
    var user = (new ApplicationDbContext()).Users.FirstOrDefault(s => s.Id == userId);
}

<header class="masthead text-white d-flex">
    <div class="container my-auto">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @if (user != null)
                        {
                            if (user.IsAdministrator)
                            {
                                @Html.ActionLink("Edit | ", "Edit", new { id = item.EditoraID })

                                @Html.ActionLink("Details |", "Details", new { id = item.EditoraID })

                                @Html.ActionLink(" Delete", "Delete", new { id = item.EditoraID })
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</header>
