@model eLibrary.Models.Livro
@using Microsoft.AspNet.Identity
@using eLibrary.Models

@{
    ViewBag.Title = "Detalhes";
}

@{
    HttpContext.Current.User.Identity.GetUserId();
    string userId = User.Identity.GetUserId();
    var user = (new ApplicationDbContext()).Users.FirstOrDefault(s => s.Id == userId);
}

<header class="masthead text-white d-flex">
    <div class="container my-auto">

        <div>

            <hr />
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">

                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => model._Assunto.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Assunto.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Categoria.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Categoria.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model._Editora.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model._Editora.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ISBN)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ISBN)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Paginas)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Paginas)
                        </dd>

                </div>
                <div class="col-md-6">
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Edicao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Edicao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Autor)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Ano)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ano)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Origem)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Origem)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Idioma)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Idioma)
                    </dd>
                </div>
            </div>
            </dl>
        </div>
        @if (user != null)
        {
            if (user.IsAdministrator)
            {
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.LivroID }) |

                </p>
            }   
        }
        @Html.ActionLink("Back to List", "Index")


    </div>
</header>