@model eLibrary.Models.LivroViewModel
@using Microsoft.AspNet.Identity
@using eLibrary.Models

@{
    ViewBag.Title = "Index";
}

@{
    HttpContext.Current.User.Identity.GetUserId();
    string userId = User.Identity.GetUserId();
    var user = (new ApplicationDbContext()).Users.FirstOrDefault(s => s.Id == userId);
}

<header class="masthead text-white d-flex">
    <div class="container my-auto">

        @if (user != null)
        {
            if (user.IsAdministrator)
            {
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            }
        }

                <table class="table">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Titulo
                        </th>
                        <th>
                            Assunto
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Editora
                        </th>

                    </tr>

                    @foreach (var item in Model.Livros)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LivroID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item._Assunto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item._Categoria.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item._Editora.Nome)

                        </td>
                        @if (item.Status)
                        {
                            <td>Disponível</td>
                        }
                        else
                        {
                            <td>Reservado</td>
                        }


                            <td>
                                @if (user != null)
                                {
                                    if (user.IsAdministrator)
                                    {
                                        @Html.ActionLink("Edit | ", "Edit", new { id = item.LivroID })

                                        @Html.ActionLink("Details |", "Details", new { id = item.LivroID })

                                        @Html.ActionLink(" Delete", "Delete", new { id = item.LivroID })

                                        @Html.ActionLink("Alterar Status", "AlterarStatus", "Livros", new { id = item.LivroID }, htmlAttributes: new { @class = "btn btn-warning" })
                                    }


<td>
                                <div class="btn-group">

                                    <a href="/Livros/Details/@item.LivroID" class="btn btn-primary">Detalhes</a>

                                    @Html.ActionLink("Reservar", "Reservar", "Reservas", new { id = item.LivroID }, htmlAttributes: new { @class = "btn btn-success" })
                                   
                                </div>
                            </td>

                                 }

                            </td>

                        </tr>
                     }

                </table>

            </div>
</header>