@model IEnumerable<eLibrary.Models.Livro>

@{
    ViewBag.Title = "Index";
}

<header class="masthead text-white d-flex">
    <div class="container my-auto">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model._Assunto.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._Categoria.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._Editora.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paginas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edicao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ano)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idioma)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item._Assunto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._Categoria.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._Editora.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paginas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edicao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ano)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Origem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idioma)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LivroID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.LivroID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.LivroID })
                    </td>
                </tr>
            }

        </table>

</div>
</header>